<div class="row">
  <div class="col-sm-6 col-md-4 offset-md-4 offset-md-3">
    <div id="success" class="alert alert-success {{#if noMessage}}d-none{{/if}}" role="alert">
      {{ successMsg }}
    </div>
  </div>
</div>

{{#if homePage}}
{{!-- Carousel --}}
<div class="owl-carousel owl-theme">
  <div class="item">
    <div class="container">
      <div class="row valign-wrapper">
        <div class="col m4 l4 s4">
          <img src="/images/Products/398227827d4719d4d1cf109c42131b7ea0fb6bc3.png" alt="" class="responsive-img">
        </div>
        <div class="col l8 m8 s8">
          <div class="banner-heading">
            <h2 class="hide-on-small-only">Wireless Earphone</h2>
            <h5 class="hide-on-med-and-up">Wireless Earphone</h5>
          </div>
          <div class="banner text">
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Velit, placeat?</p>
          </div>
          <button class="btn btn-large hide-on-small-only">BUY NOW</button>
          <button class="btn hide-on-med-and-up">BUY NOW</button>
        </div>
      </div>
    </div>
  </div>

  <div class="item">
    <div class="row valign-wrapper">
      <div class="col m4 l4 s4">
        <img src="/images/Products/AMZ_FamilyStripe_Series_5_GPS._CB436918135_.png" alt="" class="responsive-img">
      </div>
      <div class="col l8 m8 s8">
        <div class="banner-heading">
          <h2 class="hide-on-small-only">Apple Smartwatch</h2>
          <h5 class="hide-on-med-and-up">Apple Smartwatch</h5>
        </div>
        <div class="banner text">
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nesciunt, minus.</p>
        </div>
        <button class="btn btn-large hide-on-small-only">BUY NOW</button>
        <button class="btn hide-on-med-and-up">BUY NOW</button>
      </div>
    </div>
  </div>

  <div class="item">
    <div class="row valign-wrapper">
      <div class="col m4 l4 s4">
        <img src="/images/Products/Base-Jump-True-Wireless-Earbuds.png" alt="" class="responsive-img">
      </div>
      <div class="col l8 m8 s8">
        <div class="banner-heading">
          <h2 class="hide-on-small-only">boAt Airpoads</h2>
          <h5 class="hide-on-med-and-up">boAt Airpoads</h5>
        </div>
        <div class="banner text">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo, reiciendis.</p>
        </div>
        <button class="btn btn-large hide-on-small-only">BUY NOW</button>
        <button class="btn hide-on-med-and-up">BUY NOW</button>
      </div>
    </div>
  </div>

  <div class="item">
    <div class="row valign-wrapper">
      <div class="col m4 l4 s4">
        <img src="/images/Products/AMZ_FamiyStripe_Series_3_GPS._CB438518530_.png" alt="" class="responsive-img">
      </div>
      <div class="col l8 m8 s8">
        <div class="banner-heading">
          <h2 class="hide-on-small-only">Apple Smartwatch</h2>
          <h5 class="hide-on-med-and-up">Apple Smartwatch</h5>
        </div>
        <div class="banner text">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis, obcaecati!</p>
        </div>
        <button class="btn btn-large hide-on-small-only">BUY NOW</button>
        <button class="btn hide-on-med-and-up">BUY NOW</button>
      </div>
    </div>
  </div>

  <div class="item">
    <div class="row valign-wrapper">
      <div class="col m4 l4 s4">
        <img
          src="/images/Products/nsparent-images-transparent-backgrounds-PNGRIVER-COM-Denim-Jean-Canvas-Shoes-2017-Fashion-Casual-Shoes-Men-Blue-Walking-Shoes-Trainers-Footwear-zapatillas-deportivas.png"
          alt="" class="responsive-img">
      </div>
      <div class="col l8 m8 s8">
        <div class="banner-heading">
          <h2 class="hide-on-small-only">Blue Causal Shoes</h2>
          <h5 class="hide-on-med-and-up">Blue Causal Shoes</h5>
        </div>
        <div class="banner text">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci, temporibus.</p>
        </div>
        <button class="btn btn-large hide-on-small-only">BUY NOW</button>
        <button class="btn hide-on-med-and-up">BUY NOW</button>
      </div>
    </div>
  </div>

  <div class="item">
    <div class="row valign-wrapper">
      <div class="col m4 l4 s4">
        <img src="/images/Products/4ebe50e2495b17a79c31e48a0e54883f.png" alt="" class="responsive-img">
      </div>
      <div class="col l8 m8 s8">
        <div class="banner-heading">
          <h2 class="hide-on-small-only">T-Shirt</h2>
          <h5 class="hide-on-med-and-up">T-Shirt</h5>
        </div>
        <div class="banner text">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae, quisquam!</p>
        </div>
        <button class="btn btn-large hide-on-small-only">BUY NOW</button>
        <button class="btn hide-on-med-and-up">BUY NOW</button>
      </div>
    </div>
  </div>
</div>

{{/if}}
<div class="container">
  <div class="row">
    {{#each response}}
    <div class="col s12 m6 l3">
      <div class="card" id="productCard">
        <div class="card-image">
          <img src={{this.imagePath}} alt="card image" class="responsive-img center">
          <span class="card-title">
            <a href="/add-to-cart/{{this._id}}" class="right"><i class="fas fa-shopping-cart"></i></a><br>
            {{!-- <a href="#" class="right"><i class="far fa-heart"></i></a><br> --}}
            <a target="_blank" href="/products/{{this._id}}" class="right"><i class="far fa-eye"></i></a><br>
          </span>
        </div>
        <div class="card-content">
          <h6 class="card-title">{{this.name}}</h6>
          <p class="card-desc">{{this.desc}}</p>
          {{!-- <p class="card-rating">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
          </p> --}}
          <p class="price">₹ {{this.price}}</p>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
</div>