{{!-- {{#if products}}
<div class="row">
    <div class="col-sm-6 col-md-6 offset-md-3 offset-sm-3">
        <ul class="list-group">
            {{#each products}}
            <li class="list-group-item">
                <strong>{{ this.title }}</strong>
                <span class="badge badge-info">₹ {{this.price}}</span>
                <div class="float-right">
                    <h5>
                        <a href="/reduce/{{ this.item._id }}"><i class="fas fa-minus-square"></i></a>
                        <i class="badge badge-primary">{{this.qty}}</i>
                        <a href="/addByOne/{{ this.item._id }}"><i class="fas fa-plus-square"></i></a>
                    </h5>
                </div>
            </li>
            {{/each}}
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-sm-6 col-md-6 offset-md-3 offset-sm-3">
        <strong>Total : {{ totalPrice }}</strong>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-sm-6 col-md-6 offset-md-3 offset-sm-3">
        <a href="/checkout" class="btn btn-success">Checkout</a>
    </div>
</div>

{{else}}
<div class="row">
    <div class="col-sm-6 col-md-6 offset-md-3 offset-sm-3">
        <h2>No Items in Cart</h2>
    </div>
</div>
{{/if}} --}}

{{!-- Shopping-Cart --}}
<section class="shopping-cart">
    <div class="container">
        <div class="row">
            <div class="col l8 m8">
                <h6>My Cart</h6>
                <div class="row">
                    {{!-- Product-Img --}}
                    <div class="col l3 m3">
                        <img src="/images/Products/AMZ_FamilyStripe_Series_5_GPS._CB436918135_.png" alt="">
                    </div>
                    {{!-- Product-Desc --}}
                    <div class="col l5 m5">
                        <h6>Apple Bluetooth Fitness Smart Watch Phone</h6>
                        <p>Pink Strap REGULAR</p>
                        <p>₹1,698 <strike>₹4,990</strike> 65% Off</p>
                    </div>
                    <div class="col l4 m4"></div>
                </div>
            </div>
            <div class="col l4 m4">

            </div>
        </div>
    </div>
</section>